# Looking for Yubikey removal
# Bus 001 Device 011: ID 1050:0407 Yubico.com
ACTION=="remove", ENV{ID_VENDOR_ID}=="1050", ENV{ID_MODEL_ID}=="0407", RUN+="/usr/local/bin/gnome-screensaver-lock"
